/* * {
    aplicar a todos los elementos que del html
}*/

body {
    margin: 0; /*quitar estilos por defecto del navegador*/
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a { /*global*/
    text-decoration: none;
    cursor: pointer;
}
header { /*va del 0 al 100% de la pantalla*/
    width: 100%;
    height: 60px; 
}
header nav {
    display: flex;
    justify-content: flex-end; /*posicionar las cajas nav a la derecha*/
}
header nav .nav-right-section {
    width: 250px;
    height: auto; /*altura de su padre*/
    display: flex;
    list-style: none; /*quita los estilos de la lista*/
    justify-content: center;
    align-items: center; /*alinea los elementos*/
    }
nav .nav-right-section a {
    margin-right: 10px;
    color: black;
}
nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*mismo tamaño de contenedor*/
    width: 25px;
    height: 25px;
}
nav .nav-right-section img {
    border-radius: 50px; /*forma un circulo*/
    margin-left: 10px;
}
main {
    margin-top: 150px;
    text-align: center; /*centrar contenido dentro de nuestra etiqueta main*/
}
main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px; 
}
main .main-logo img {
    width: 300px;
}
main .main-input {
    width: 530px;
    margin: 0 auto; /*posiciona en la parte del medio*/
    margin-bottom: 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex; /*contenedores en forma lineal*/
    justify-content: center;
    align-items: center;       
} 
main .main-input input {
    width: 450px; /*mas chico que su contenedor padre*/
    height: 40px;
    border: none;
    outline: none; /*quitar borde azul del input*/
}
main .main-input-container:hover { /*efecto CSS cuando pasa sobre el cursor*/
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    }
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}    
main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;   
    font-size: 14px;
    color: #3c4043;;    
    padding: 0 15px ; /*espacio interno de los elementos con el contenedor padre*/ 
    margin-right: 15px;
}
main .main-buttons button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    color: #202124;
}
footer {
    width: 100%; /*hijo del body abarca el 100% de la pagina*/
    height: 50px; /*altura*/
    position: absolute; /*asegurarnos que el footer se quede abajo de la pagina*/
    bottom: 0;
    display: grid; /*darle posicion al contenido del footer*/
    grid-template-columns: 1fr 1fr; /*2 fracciones*/
    align-items: center;
    font-size: 13px;
    background-color: f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;   
}
footer .footer-left {
    justify-content: left;
}
footer .footer-right {
    justify-content: right;
}
footer ul li a {
    margin: 10px; /*separacion*/
    color: #5f6368;
}